@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
*{
    font-family: 'Chilanka', cursive;
}
body{
    background-image:url("https://images.pexels.com/photos/92083/pexels-photo-92083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.heading{
    font-size: 35px;
    position: absolute;
    margin-top:20px;
    left: 45%;
}
.soundss{
margin-top:120px;
display: inline-flex;
position:absolute;
left: 10%;
padding:18px;
border-radius: 7px;
border: 4px solid darkslategray;
}
.sound{
    color:black;
    padding:20px 30px 20px 30px;
    background-color: transparent;
    margin:0px 20px 10px 10px;
    text-align: center;
    cursor: pointer;
    font-size:25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
}
.soundclick{
    box-shadow: 0 14px 46px 0 rgba(0,0,0,0.5);
    transform:scale(1.3);
   
}
.soundgoclick{
    transform:scale(0.8);
}  
